DATABASE_URL="postgresql://neondb_owner:********@ep-nama-xxxx.us-east-1.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="rentcar-jwt-super-secret-key-2024"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_WHATSAPP_NUMBER="6285754650271"
NEXT_PUBLIC_SUPABASE_URL="https://your-project.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"
